body {
  margin: 0;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

/*TODO: TO BE Removed*/
@font-face {
  font-family: 'BooCity';
  src: url('../fonts/BooCity.ttf');
}

.load {
  font-family: 'BooCity';
  position: absolute;
}
